header {
    background-color: aqua;
    grid-area: header;
  }
  main {
    background-color: lightcyan;
    min-height: calc(100vh - 54px);
    grid-area: main;
  }
  nav {
    background-color: maroon;
    grid-area: nav;
  }
  aside {
    background-color: aqua;
    grid-area: aside;
  }
  .banner {
    background-color: lightgreen;
    grid-area: banner;
  }
  footer {
    background-color: greenyellow;
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  @media (min-width: 500px) {
    .container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     main"
        "aside   main"
        "banner  footer";
    }
    nav ul {
      display: flex;
      flex-direction: row;
    }
    nav ul li a {
      display: flex;
      flex-direction: columnn;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 700px) {
    .container {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    nav    nav"
        "main    main    aside"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: row;
       justify-content: space-between;
     }
  }
  .todo {
    border: 5px solid;
    padding: 10px;
    height: 300px;
    width: 300px;
    display: grid;
    
    grid-template-columns: 10% auto;
    grid-gap: 5px;
    
  }
  .calc {
    width: 300px;
    height: 130px;
    padding: 5px;
    margin: 10px;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr;
}
  .calc-button {
      
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
}
.calcdisplay {
    display: grid;
    grid-template-columns: 1fr;
  
    width: 290px;
    height: 40px;
    border-bottom: solid lightgray 2px;
    box-shadow: -2px  -2px  rgb(180, 180, 180);   
}
  .calc-flex {
      
    width: 200px;
    height: 100PX;
    background-color: green;
    border: 1px solid;
  
}
.calc-flex-display {
    display: flex;
    flex: 110%;
    justify-content: center;
}
    
  }
  .calc-button-flex {
    display: flex;
    flex-wrap: wrap;
    flex:  25%;
    justify-content: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1max-content 1fr 1fr 1fr 1fr;
    grid-template-areas: ".
     . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
    border: 5px solid green;
  }

.day {
  border: solid 2px green;
}
#month {
  border: solid 2px green;
  text-align: center;
}