* {
    text-decoration: none;
}
body {
    display: grid;
}
header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: aside;
  }
  .banner {
    grid-area: banner;
  }
  footer {
    grid-area: footer;
  }
  #calendar {
    text-align: center;
    color: green;
    border-bottom: solid 5px;
  }
  .container {
    display: grid; /* Using the grid */
    grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
  .calc {
      width: 300px;
      height: 200px;
      padding: 5px;
      margin: 10px;
      background-color: grey;
      display: grid;
      grid-template-columns: 1fr;
  }
  .calc-button {
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
  }
  .calcdisplay {
      display: grid;
      grid-template-columns: 1fr;
    
      width: 290px;
      height: 40px;
      border-bottom: solid lightgray 2px;
      box-shadow: -2px  -2px  rgb(180, 180, 180);
      
  }
.todo-box {
  margin: 10px;

}

.checkbox {
  display: grid;
  padding: 10px;
  
}
.todo {
  border: 5px solid;
  padding: 10px;
  height: 300px;
  width: 300px;
  display: grid;
  
  grid-template-columns: 10% auto;
  grid-gap: 5px;
  
}

 .grid-container { 
   height: 100%; 
   margin: 10%;
}

.grid-container * { 
 border: 3px solid lightgreen;
 position: right;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  
}

