body {
    margin: 0 auto;
    width:  850px;
    height: 450px;
    font-family: 'Open Sans', sans-serif;
}

.splash-image {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(galaxy.jpg);
    background-repeat: no-repeat;
    height: 450px;
    
    color: white;
    font-size: 3em;
    
}
main{
    margin-top: 25px;
    display: flex;
    background-color: rgb(224, 224, 224);
    justify-content: center;
    width: 850px;
}
.center-text {
    display: flex;
    justify-content: center;
}

#main-contact {
    width: 30%;
}

#contact {
    margin: 10px 0 10px 30px;
    padding: 10px;
}

label {
    margin: 20px;
}

input {
   width: 150px;
   padding: 10px;
}

article{
    width: 270px;
    height: 324px;
   display: flex;
   flex-direction: row;
    justify-content: center;;
    align-content: center;
}



.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 324px;
}

.messsage {
    height: 30px;
    width: 200px;
    background-color: blue;
}
