* {

}
.header {
    text-align: center;
}
body {
    font-family: Calibri, Arial, sans-serif
}

.address {
    padding: -10px;
    margin: -10px;
}
.email {
    padding: -10px;
    margin: -10px;
    padding-bottom: 50px;
}
.container {
    color: rgb(8, 32, 10);
    padding: 10px;
    margin: 10px;
    background-color: rgba(165, 158, 158, 0.87);
    opacity: 0.35;
    }
.textarea {
    padding-left: 50px;
    padding-right: 50px;
}
.summary {
    
}