body {
 background-color: rgb(245, 241, 235);}

header {
    background-color: aqua;
    grid-area: header;
  }
  h1 {
    display:grid;
    justify-content: center;
  }
  main {
    background-color: lightcyan;
    min-height: calc(100vh - 54px);
    grid-area: main;
  }
  nav {
    background-color: rgb(233, 223, 223);
    grid-area: nav;
  }
  aside {
    background-color: rgb(95, 202, 202);
    grid-area: aside;
  }
  .banner {
    background-color: lightgreen;
    grid-area: banner;
  }
  footer {
    grid-area: footer;
    margin-left: 50vw;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  @media (min-width: 500px) {
    .container {
      grid-template-columns: 2fr 1fr 2fr;
      grid-template-areas: 
        "header header header"
        "nav nav nav"
        "aside  main main"
        "banner footer footer";
    }
    nav ul {
      display: flex;
      flex-direction: row;
    }
    nav ul li a {
      display: flex;
      flex-direction: columnn;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 700px) {
    .container {
      background-color: aqua;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    nav    nav"
        "main    main    aside"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: row;
       justify-content: space-between;
     }
  }
  .todo {
    border: 5px solid;
    padding: 10px;
    height: 300px;
    width: 300px;
    display: grid;
    
    grid-template-columns: 10% auto;
    grid-gap: 5px;
    
  }
  .calc {
    width: 300px;
    height: 130px;
    padding: 5px;
    margin: 10px;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr;
}
  .calc-button {
      
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
}
.calcdisplay {
    display: grid;
    grid-template-columns: 1fr;
  
    width: 290px;
    height: 40px;
    border-bottom: solid lightgray 2px;
    box-shadow: -2px  -2px  rgb(180, 180, 180);   
}
  .calc-flex {
      
    width: 200px;
    height: 100PX;
    background-color: green;
    border: 1px solid;
  
}
.calc-flex a {
  text-decoration: none;
  display: inline-block;
}
.calc-flex-display {
    display: flex;
    flex: 110%;
    justify-content: center;
}
    
  
  .calc-button-flex {
    display: flex;
    flex-wrap: wrap;
    flex:  25%;
    justify-content: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1max-content 1fr 1fr 1fr 1fr;
    grid-template-areas: ".
     . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
    border: 5px solid green;
  }

.day {
  border: solid 2px green;
}
#month {
  border: solid 2px green;
  text-align: center;
}
.geolocation {
  height: 300px;
  width: 300px;
  color: goldenrod;
  background-color: rgb(207, 192, 172);
}
button {
  margin-top: 15px;
  font-size: 22px;
}
.icecontainer {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    grid-template-areas: ". ." ". ." ". ." ". .";
  
}
.break {
  background-color: #52c9f0;
  height: 50px;
  width:50px;
  border: 2px white solid;
}
#turn {
  margin: 2%;
}
