* {
    background-color: aliceblue;
}

h1 {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    padding-bottom: 50px;
}
.square {
    
    
    margin: 0 50%;
    padding: 5px;
    margin-bottom: 5px;
    color: black;
}
.even {
    height: 50px;
    width: 50px;
    
  
}
.odd {
    height: 50px;
    width: 50px;
    
    
}
#container {
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}
#container:hover .even {
    height: 25px;
    width: 25px;
    transform: rotate(-360deg);
    margin: 0% 0%;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
       
}
#container:hover .odd {
    height: 100px;
    width: 100px;
    transform: rotate(360deg);
    margin: 0% 95%;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: linear;
    
}
#one {
    background-color: red;
}
#two {
    background-color: green;
}
#three {
    background-color: teal;
}
#four {
    background-color: gray;
}
#five {
    background-color: aquamarine;
}
#six {
    background-color: orange;
}
#seven {
    background-color: orangered;
}
#eight {
    background-color: orchid;
}
#nine {
    background-color: olivedrab;
}
#ten {
    background-color: rosybrown;
}
#eleven {
    background-color: firebrick;
}
#twelve {
    background-color: fuchsia;
    margin-bottom: 50px;
}