body {
    background-color: rgb(107, 181, 216);
}
h1 {
    margin-left: 8%;
}
.header {
    margin-left: 15%;
    margin-top: 2%;
    width: 20%;
}

.container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". . ." ". . .";
    height: 200px;
    width: 200px;
    margin-left: 15%;
    margin-top: 2%;
  }
  .container {
      background-color: mediumspringgreen;
  }
  .container div {
      border: 2px solid black;
      font-size: 50px;
      text-align: center;
  }

 