.header {
    color:red;
    background-color: blue;
}

.container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". . ." ". . .";
    height: 200px;
      width: 200px;
      margin: 10%;
  }
  .container {
      
  }
  .container div {
      border: 2px solid black;

  }
 